@page
@model LIT.Smabu.Web.Areas.Invoices.Pages.AddItemModel

@{
    ViewData["Title"] = "Rechnungen/Position hinzufügen";
}

<div class="row">
    <div class="col-xs-12 col">
        <vc:page-header area="Rechnungen" page="Position hinzufügen"
                        details="@Model.DisplayName">
        </vc:page-header>
    </div>
    <div class="col-xs-12 col-auto">
    </div>
</div>

<form method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>
        <div class="form-group col-xs-6 col-sm-4">
            <label asp-for="QuantityValue" class="control-label"></label>
            <input asp-for="QuantityValue" class="form-control bg-dark" pattern="[0-9]+([\.,][0-9]+)?" />
            <span asp-validation-for="QuantityValue" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-6 col-sm-4">
            <label asp-for="QuantityUnit" class="control-label"></label>
            <select name="QuantityUnit" asp-for="QuantityUnit" asp-items="Model.QuantityUnits" class="form-control bg-dark"></select>
            <span asp-validation-for="QuantityUnit" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-4">
            <label asp-for="UnitPrice" class="control-label"></label>
            <input type="number" asp-for="UnitPrice" class="form-control bg-dark" pattern="[0-9]+([\.,][0-9]+)?" />
            <span asp-validation-for="UnitPrice" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-12">
            <label asp-for="Details" class="control-label"></label>
            <textarea asp-for="Details" class="form-control bg-dark"></textarea>
            <span asp-validation-for="Details" class="text-danger"></span>
        </div>

        <div class="form-group col-12">
            <div class="btn-group mt-2">
                <a class="btn btn-outline-primary" title="Zurück"
                   asp-area="Invoices"
                   asp-page="Details"
                   asp-route-id="@Model.InvoiceId">
                    <i class="bi bi-arrow-left-circle"></i>
                </a>
                <button type="submit" class="btn btn-primary" title="Bestätigen">
                    <i class="bi bi-check"></i>
                </button>
            </div>
        </div>
    </div>
</form>