@page
@model LIT.Smabu.Web.Areas.Invoices.Pages.RemoveItemModel

@{
    ViewData["Title"] = "Rechnungen/Position entfernen";
}

<div class="row">
    <div class="col-xs-12 col">
        <vc:page-header area="Rechnungen" page="Position entfernen"
                        details="@Model.DisplayName">
        </vc:page-header>
    </div>
    <div class="col-xs-12 col-auto">
    </div>
</div>

<form method="post">
    <div class="row">
        
        <div class="col-12">
            <h5>Soll die Rechnungsposition wirklich gelöscht werden?</h5>
        </div>

        <div class="form-group col-12">
            <div class="btn-group mt-2">
                <a class="btn btn-outline-primary" title="Zurück"
                   asp-area="Invoices"
                   asp-page="Details"
                   asp-route-id="@Model.InvoiceId">
                    <i class="bi bi-arrow-left-circle"></i>
                </a>
                <button type="submit" class="btn btn-primary" title="Bestätigen">
                    <i class="bi bi-check"></i>
                </button>
            </div>
        </div>
    </div>
</form>