################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/src/LIT.Smabu.Core/obj
/src/LIT.Smabu.Domain/bin/Debug/net8.0
/src/LIT.Smabu.Infrastructure/bin/Debug/net8.0
/src/LIT.Smabu.Infrastructure/obj
/src/LIT.Smabu.Shared/bin/Debug/net8.0
/src/LIT.Smabu.UseCases/bin/Debug/net8.0
/src/LIT.Smabu.UseCases/obj
/src/LIT.Smabu.Web/bin/Debug/net8.0
/src/LIT.Smabu.Web/obj
/src/LIT.Smabu.Web/wwwroot/lib
