html {
  font-size: 10pt;
}

@media (min-width: 768px) {
  html {
    font-size: 11pt;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header {
  height: 50px;
}

body {
  margin-bottom: 60px;
}

body main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-group {
  padding: 0 0 15px 0;
}

.form-group label.control-label {
  font-size: 9pt;
  opacity: 0.5;
  font-weight: 500;
}

.form-group input.form-control, .form-group textarea.form-control, .form-group select.form-control {
  border-width: 0 0 1px 0;
  border-radius: 0;
  padding-left: 1px;
}

table.table {
  border-color: #333;
  font-size: 10pt;
}

table.table thead {
  border-radius: 5px 5px 0 0;
}

table.table thead tr th {
  background-color: #262a2f;
  font-weight: 700;
  color: #ddd;
  padding: 10px;
}

table.table tbody {
  border-radius: 0 0 5px 5px;
}

table.table tbody tr td {
  background-color: #262a2f;
  padding: 10px;
}

table.table tbody tr th {
  background-color: #262a2f;
  padding: 10px;
  font-weight: 700;
}
