@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        @* <MudText>Hello, @context.User.Identity?.Name!</MudText> *@
        <MudButton Size="Size.Small" @onclick="BeginLogOut">Log out</MudButton>
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </Authorized>
    <NotAuthorized>
        <a class="" href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
