@page "/customers/create"
@using LIT.Smabu.Shared.Domain.Customers.Commands;
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient Http
@attribute [Authorize]

<PageHeader PageTitle="Kunde erstellen">

</PageHeader>

<EditForm Model="@Model" OnValidSubmit="@SubmitAsync">
    <div class="row">
        <div class="col-md-6">
            <label for="Name" class="form-label">Name</label>
            <InputText class="form-control" @bind-Value="Model.Name" />
            <ValidationMessage For="@(() => Model.Name)" />
        </div>
    </div>  
    <FormFooter BackUrl="/customers">
        <Actions>
            <button type="submit" class="btn btn-success">Speichern</button>
        </Actions>
    </FormFooter>
</EditForm>

@code {
    @inject NavigationManager NavigationManager;

    public CreateCustomerCommand Model { get; } = new()
    { 
        Id = new Smabu.Shared.Domain.Customers.CustomerId(Guid.NewGuid()),
        Name = ""
    };

    private async Task SubmitAsync()
    {
        using var response = await Http.PostAsJsonAsync("customers", Model);
        NavigationManager.NavigateTo("/customers/" + Model.Id);
    }
}