@page "/customers/{Id:guid}"
@using LIT.Smabu.Shared.Domain.Customers.Commands;
@using LIT.Smabu.Shared.Domain.Customers.Queries;
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient Http
@attribute [Authorize]

<PageHeader PageTitle="@("Kunde " + @Model?.Name)">

</PageHeader>

@if(Model != null)
{
    <EditForm Model="@Model" OnValidSubmit="@SubmitAsync">
        <div class="row">
            <div class="col-md-6">
                <label for="Name" class="form-label">Name</label>
                <InputText class="form-control" @bind-Value="Model.Name" />
                <ValidationMessage For="@(() => Model.Name)" />
            </div>
        </div>
        <FormFooter BackUrl="/customers">
            <Actions>
                <button type="submit" class="btn btn-success">Speichern</button>
            </Actions>
        </FormFooter>
    </EditForm>
}

@code {
    @inject NavigationManager NavigationManager;

    [Parameter]
    public Guid Id { get; set; }
    public EditCustomerCommand Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var customer = await Http.GetFromJsonAsync<GetCustomerDetailsResponse>("Customers/" + Id) ?? throw new Exception("NotFound");
        this.Model = new()
        {
            Id = customer.Id,
            Name = customer.Name,
            IndustryBranch = customer.IndustryBranch
        };
    }

    private async Task SubmitAsync()
    {
        using var response = await Http.PutAsJsonAsync("Customers/" + Id, Model);
        NavigationManager.NavigateTo("/customers");
    }
}