@page
@model LIT.Smabu.Web.Areas.Customers.Pages.CreateModel

@{
    ViewData["Title"] = "Kunden/Erstellen";
}

<div class="row">
    <div class="col-xs-12 col">
        <vc:page-header area="Kunden" page="Erstellen"
                        details="">
        </vc:page-header>
    </div>
    <div class="col-xs-12 col-auto">
    </div>
</div>

<form method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>
        <div class="form-group col-xs-12 col-sm-12">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control bg-dark" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group col-12">
            <div class="btn-group mt-2">
                <a class="btn btn-outline-primary" title="Zurück"
                   asp-area="Customers"
                   asp-page="Index">
                    <i class="bi bi-arrow-left-circle"></i>
                </a>
                <button type="submit" class="btn btn-primary" title="Bestätigen">
                    <i class="bi bi-check"></i>
                </button>
            </div>
        </div>
    </div>
</form>