@page
@model LIT.Smabu.Web.Areas.Customers.Pages.DetailsModel

@{
    ViewData["Title"] = "Kunden/Details";
}

<div class="row">
    <div class="col-xs-12 col">
        <vc:page-header area="Customers" page="Details"
                        details="@Model.DisplayName">
        </vc:page-header>
    </div>
    <div class="col-xs-12 col-auto">
    </div>
</div>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>
        <div class="form-group col-xs-12 col-sm-3">
            <label asp-for="Number" class="control-label"></label>
            <input asp-for="Number" class="form-control bg-dark" readonly />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control bg-dark" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <label asp-for="IndustryBranch" class="control-label"></label>
            <input asp-for="IndustryBranch" class="form-control bg-dark" />
            <span asp-validation-for="IndustryBranch" class="text-danger"></span>
        </div>

        <div class="col-12 my-4">
            <h5>Adresse</h5>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label asp-for="MainAddressName1" class="control-label"></label>
            <input asp-for="MainAddressName1" class="form-control bg-dark" />
            <span asp-validation-for="MainAddressName1" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label asp-for="MainAddressName2" class="control-label"></label>
            <input asp-for="MainAddressName2" class="form-control bg-dark" />
            <span asp-validation-for="MainAddressName2" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-10">
            <label asp-for="MainAddressStreet" class="control-label"></label>
            <input asp-for="MainAddressStreet" class="form-control bg-dark" />
            <span asp-validation-for="MainAddressStreet" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label asp-for="MainAddressHouseNumber" class="control-label"></label>
            <input asp-for="MainAddressHouseNumber" class="form-control bg-dark" />
            <span asp-validation-for="MainAddressHouseNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label asp-for="MainAddressPostalCode" class="control-label"></label>
            <input asp-for="MainAddressPostalCode" class="form-control bg-dark" />
            <span asp-validation-for="MainAddressPostalCode" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label asp-for="MainAddressCity" class="control-label"></label>
            <input asp-for="MainAddressCity" class="form-control bg-dark" />
            <span asp-validation-for="MainAddressCity" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-4">
            <label asp-for="MainAddressCountry" class="control-label"></label>
            <input asp-for="MainAddressCountry" class="form-control bg-dark" />
            <span asp-validation-for="MainAddressCountry" class="text-danger"></span>
        </div>

        <div class="col-12 my-4">
            <h5>Kommunikation</h5>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label asp-for="CommunicationPhone" class="control-label"></label>
            <input asp-for="CommunicationPhone" class="form-control bg-dark" />
            <span asp-validation-for="CommunicationPhone" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label asp-for="CommunicationMobil" class="control-label"></label>
            <input asp-for="CommunicationMobil" class="form-control bg-dark" />
            <span asp-validation-for="CommunicationMobil" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label asp-for="CommunicationEmail" class="control-label"></label>
            <input asp-for="CommunicationEmail" class="form-control bg-dark" />
            <span asp-validation-for="CommunicationEmail" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label asp-for="CommunicationWebsite" class="control-label"></label>
            <input asp-for="CommunicationWebsite" class="form-control bg-dark" />
            <span asp-validation-for="CommunicationWebsite" class="text-danger"></span>
        </div>

        <div class="form-group col-12">
            <div class="btn-group mt-2">
                <a class="btn btn-outline-primary" title="Zurück"
                   asp-area="Customers"
                   asp-page="Index">
                    <i class="bi bi-arrow-left-circle"></i>
                </a>
                <button type="submit" class="btn btn-primary" title="Bestätigen">
                    <i class="bi bi-check"></i>
                </button>
            </div>
        </div>
    </div>
</form>